<h1>Описание</h1>
<hr/>
<p>
    Только <b>верующий</b> пройдет. Знающие говорят, что описать смысл человеческой жизни можно одним предложением.
    Великое знание записано и сохранено на защищенном сервере. Только <b>верующий</b> пройдет.
</p>
<hr/>
<p>
Приложение-прототип <b>для демонстрации работы клиент-серверного приложения.</b>
</p>
<p>
Реализованы регистрация, вход в учетную запись и запрос к серверу с токеном.
</p>
<hr/>
<p>
    Вы можете <b><a href="" ng-href="#/signup">зарегистрироваться.</a></b>
</p>
<p>Если у вас уже есть аккаунт, то вход находиться  <b><a href="" ng-href="#/login">здесь</a></b> </p>